body.admin{
    background: #f1f2f7;
    font-size: 13px;
}
.login-form{
    max-width: 330px;
    max-height: 500px;
    background: #fff;
    /*
    margin: 100px auto 0;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 0 0;
    */
}
.control{
    max-width: 330px;
    margin: 100px auto 0;
    -webkit-border-radius: 5px;
    /*
    border-radius: 5px 5px 0 0;
    */
}
.ctrl-heading{
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    background: #40a9ff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.login-form input[type="text"], .login-form input[type="password"]{
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px;
    height: auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    color: #c2c2c2;
    display: block;
    width: 100%;
    max-width: 80%;
    line-height: 1.42;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    outline: none !important;
}

.login-form input[type="submit"]{
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    outline: none !important;
    box-sizing: border-box;
    background: #40a9ff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    max-width: 45%;
}
}
input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    font: 400 13.3333px Arial;
}
.login-form checkbox{
    color: #b6b6b6;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 14px;
    border: none;
    display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}